html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: var(--font-Inter);
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.santa {
  height: 600px;
  width: 600px;
  transition: all 0.3s ease;
}

.santa:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.santaBtn {
  background-color: transparent;
  outline: none;
  border: none;
}

.counter {
  font-size: 50px;
  color: white;
}